@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
/* Search Form */
.form
{	
	width: 100%;
	max-width: 60rem;
	min-width: 20rem;
	height: auto;
	margin: auto;
	border: 5px solid #6c9724;
	margin-top: 20px;
	background-color: #ECECEC;
	border-radius: 2%;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	.insideForm
	{
		display: flex;
		padding: 15px;
	}

	.radioEtImputContainer
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 34rem;
		min-width: 11rem;
		height: auto;
		padding: 45px;
		border: 2px solid #ECECEC;
		border-radius: 3%;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-transition: all 1s;
		transition: all 1s;
	}

	.radioEtImputContainer:hover,.radioEtImputContainer.hover
	{
		border-color: #6c9724;
	}

	.formSearch
	{
		width: 100%;
		max-width: 20rem;
		min-width: 10rem;
		height: auto;
		margin: auto;
		border: 2px solid #ECECEC;
		border-radius: 3%;
		padding: 10px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-transition: all 1s;
		transition: all 1s;
	}

	.formSearch:hover,.formSearch.hover
	{
		border-color: #6c9724;
	}
	.RegionInput .DepartementInput{
		width: 100%;
		max-width: 20rem;
		min-width: 5rem;
	}
	.CommunesImput
	{
		width: 100%;
		max-width: 15rem;
		min-width: 5rem;
	}

	.CommunesAndDistanceImput
	{
		display: flex;
	}

	.DistanceImput
	{
		width: 100%;
		max-width: 7rem;
		min-width: 3rem;
		margin-left: 10px;
	}

	.MotsClesImput 
	{	width: 100%;
		max-width: 12rem;
		min-width: 3rem;
		padding: 10px;
	}
	.ContratsImput {
		width: 100%;
		max-width: 12rem;
		min-width: 3rem;
		padding: 10px;
	}
	.radioTri
	{	
		width: 100%;
		max-width: 200px;
		height: auto;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 10px;
	}

	.radioTemsDeTravail
	{
		width: 200px;
		height: 100px;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 10px;
	}

	h2
	{
		margin-top: 10px;
		font-family: cursive;
	}

	h3
	{
		font-size: 18px;
	}

	/* Button Radio Style */
	.custom-radio .custom-control-label::before
	{
		background-color: white;
	}

	.custom-radio .custom-control-input:checked~.custom-control-label::before,.custom-radio .custom-control-input:checked~.custom-control-label::after
	{
		background-color: #6c9724;
		border-radius: 50%;
	}

	/* active state i.e. displayed while the mouse is being pressed down */
	.custom-radio .custom-control-input:active ~ .custom-control-label::before
	{
		color: #fff;
		background-color: #9bc23e;
	}

	/* the shadow;
	displayed while the element is in focus */
	.custom-radio .custom-control-input:focus ~ .custom-control-label::before
	{
		box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25);
		/* pink, 25% opacity */
	}

	/* End Of Button Radio Style */
}

/* Button Clear Selection/ */
.clearSelected
{
	background-color: #6c9724;
	color: white;
	border: #6c9724
}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */
{
	/* Search Form */
.form
{	
	width: 100%;
	max-width: 60rem;
	min-width: 20rem;
	height: auto;
	margin: auto;
	border: 5px solid #6c9724;
	margin-top: 20px;
	background-color: #ECECEC;
	border-radius: 2%;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	.insideForm
	{
		display: flex;
		flex-direction: column;
		padding: 15px;
		align-items: center;
	}

	.radioEtImputContainer
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 34rem;
		min-width: 11rem;
		height: auto;
		padding: 10px;
		border: 2px solid #ECECEC;
		border-radius: 3%;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-transition: all 1s;
		transition: all 1s;
	}

	.radioEtImputContainer:hover,.radioEtImputContainer.hover
	{
		border-color: #6c9724;
	}

	.formSearch
	{
		width: 100%;
		max-width: 34rem;
		min-width: 11rem;
		height: auto;
		margin: auto;
		border: 2px solid #ECECEC;
		border-radius: 3%;
		padding: 10px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		-webkit-transition: all 1s;
		transition: all 1s;
		margin-bottom: 15px;
	}

	.formSearch:hover,.formSearch.hover
	{
		border-color: #6c9724;
	}
	.RegionInput .DepartementInput {
		width: 100%;
		max-width: 20rem;
		min-width: 5rem;
	}
	.CommunesImput
	{
		width: 100%;
		max-width: 15rem;
		min-width: 5rem;
	}

	.CommunesAndDistanceImput
	{
		display: flex;
	}

	.DistanceImput
	{
		width: 100%;
		max-width: 7rem;
		min-width: 3rem;
		margin-left: 10px;
	}

	.MotsClesImput
	{	width: 100%;
		max-width: 20rem;
		min-width: 5rem;

	}
	.ContratsImput{
		width: 100%;
		max-width: 20rem;
		min-width: 5rem;

	}
	.radioTri
	{	
		width: 100%;
		max-width: 200px;
		height: auto;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 10px;
	}

	.radioTemsDeTravail
	{
		width: 200px;
		height: 100px;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 10px;
	}

	h2
	{
		margin-top: 10px;
		font-size: 6vmin;
	}

	h3
	{
		font-size: 18px;
	}

	/* Button Radio Style */
	.custom-radio .custom-control-label::before
	{
		background-color: white;
	}

	.custom-radio .custom-control-input:checked~.custom-control-label::before,.custom-radio .custom-control-input:checked~.custom-control-label::after
	{
		background-color: #6c9724;
		border-radius: 50%;
	}

	/* active state i.e. displayed while the mouse is being pressed down */
	.custom-radio .custom-control-input:active ~ .custom-control-label::before
	{
		color: #fff;
		background-color: #9bc23e;
	}

	/* the shadow;
	displayed while the element is in focus */
	.custom-radio .custom-control-input:focus ~ .custom-control-label::before
	{
		box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25);
		/* pink, 25% opacity */
	}

	/* End Of Button Radio Style */
}

/* Button Clear Selection/ */
.clearSelected
{
	background-color: #6c9724;
	color: white;
	border: #6c9724
}
}