
/* Button search Form */
.btn-outline-secondary
{
	margin-bottom: 15px;
	background-color: #6c9724;
	color: white;
	margin-top: 20px;
}

/* All Offerts Container */
.result
{
	margin-top: 50px;
	width: 100%;
	max-width: 60rem;
	min-width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	#pagination button
	{
		margin-top: 20px;
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		background-color: #ECECEC;
		transition: background-color .3s;
	}

	#pagination button.active
	{
		background-color: #9bc23e;
		color: white;
	}

	#pagination button:hover:not(.active)
	{
		background-color: #6c9724;
		color: white;
	}
}

@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
	.resultsContainer
	{
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
	}

	/* MAP */
	.leaflet-container
	{
		height: 100%;
		width: 100%;
		border-radius: 5%;
	}

	.Card
	{
		border: 5px solid #ECECEC;
		border-radius: 5%;
		margin-top: 80px;
		width: 50rem;
		height: 45rem;
		position: sticky;
		position: -webkit-sticky;
		top: 10rem;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
		box-shadow: 0 0 10px rgba(0,0,0,.3);
	}
}

@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */

{
	.resultsContainer
	{
		width: 100%;
		display: flex;
		flex-direction: column;
		.result
		{
			width: 100%;
			max-width: 40rem;
			min-width: 10rem;
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	/* MAP */
	.leaflet-container
	{
		height: 400px;
		width: 100%;
	}

	.cardContainer
	{
		margin: auto;
		width: 100%;
		max-width: 40rem;
		min-width: 10rem;
		display: flex;
		justify-content: center;
	}

	.Card
	{
		border: 5px solid #ECECEC;
		border-radius: 5%;
		margin-top: 30px;
		width: 40rem;
		height: 400px;
		position: sticky;
		position: -webkit-sticky;
		top: 10rem;
	}
}