@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
	footer
	{
		display: flex;
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
		background-color: #6c9724;
		margin-top: 40px;
		.widgetSection
		{
			width: 30rem;
			margin: auto;
			display: flex;
			padding: 5px;
			iframe
			{
				border: 3px solid #6c9724;
				border-radius: 3%;
				-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
				-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
				box-shadow: 0 0 10px rgba(0,0,0,.3);
				-webkit-transition: all 1s;
				transition: all 1s;
			}

			iframe:hover,iframe.hover
			{
				border-color: #ECECEC;
			}
		}
		.footer
		{
			width: 22rem;
			margin: auto;
			display: flex;
			flex-direction: column;
			text-align: left;
			a
			{
				padding: 3px;
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			.footerHref
			{
				color: white;
				font-weight: bold;
				text-decoration: none;
			}

			.footerHref i
			{
				font-size: 25px;
				padding: 10px;
				text-decoration: none;
			}

			.facebookLogo i
			{
				font-size: 30px;
				color: white;
				text-decoration: none;
			}

			.logoOhMyLot
			{
				width: 30px;
				height: 35px;
				margin: 0px 4px 0px 9px;
			}

			.Mentions
			{
				margin-top: 25px;
				margin-left: 10px;
			}

		}

	}
}
@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */

{
	footer
	{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
		background-color: #6c9724;
		margin-top: 40px;
		.widgetSection
		{
			margin: auto;
			display: flex;
			margin-top: 10px;
			iframe
			{
				width: 22rem;
				border: 3px solid #6c9724;
				border-radius: 3%;
				-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
				-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
				box-shadow: 0 0 10px rgba(0,0,0,.3);
				-webkit-transition: all 1s;
				transition: all 1s;
			}
		}
		.footer
		{
			width: 22rem;
			margin: auto;
			display: flex;
			flex-direction: column;
			text-align: left;
			a
			{
				padding: 3px;
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			.footerHref
			{
				color: white;
				font-weight: bold;
				text-decoration: none;
			}

			.footerHref i
			{
				font-size: 25px;
				padding: 10px;
				text-decoration: none;
			}

			.facebookLogo i
			{
				font-size: 30px;
				color: white;
				text-decoration: none;
			}

			.logoOhMyLot
			{
				width: 30px;
				height: 35px;
				margin: 0px 4px 0px 9px;
			}

			.Mentions
			{
				margin-top: 25px;
				margin-left: 10px;
			}

		}
	}
	
}