	header
	{
		width: 100%;
		height: auto;
		margin : 0 0;
		background-color: #6c9724;
		.Header
		{
			display: flex;
			justify-content: space-between;
			.divLogoLeft
			{
				padding: 20px;
				text-align: center;
				margin-left: 20px;
				a
				{
					text-decoration: none;
				}

			}

			.divLogoLeft p
			{
				font-size: 2.5vmax;
				font-size: 2vmin;
				color: white;
				font-family: 'Courgette', cursive;
				margin: 10px 0px 0px 0px;
			}

			.logoLeft
			{
				width: 100%;
				max-width: 200px;
				min-width: 70px;
				height: auto;
			}

			h1
			{	
				display: flex;
				font-size: 5vmin;
				width: 500px;
				color: white;
				justify-content: center;
				align-items: center;
				font-family: cursive;
			}

			.divLogoRight
			{
				text-align: center;
				padding: 20px;
				margin-right: 20px;
				a
				{
					text-decoration: none;
				}

			}

			.logoRight
			{
				width: 100%;
				max-width: 200px;
				min-width: 70px;
                height: auto;
				margin-right: 20px;
			}

		}

	}
