@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
	.smallMenuTop
	{
		display: none;
	}

	.menu
	{
		max-width: 120rem;
		min-width: 60rem;
		margin : 0 0;
		.largeMenuTop
		{
			background-color: #9bc23e;
			nav
			{
				display: flex;
				justify-content: space-between;
				margin: 0px 40px 0px 20px;
			}

			.leftSideMenu a
			{
				color: white;
				padding: 20px;
				font-weight: bold;
				text-decoration: none;
			}

			.leftSideMenu i
			{
				padding: 10px;
				font-size: 25px;
			}

			.rightSideMenu a
			{
				padding: 40px;
				font-weight: bold;
				text-decoration: none;
			}

		}

		.facebookLogo
		{
			font-size: 30px;
			color: #3b5998;
			text-decoration: none;
		}

		.logoOhMyLot
		{
			width: 30px;
			height: 35px;
			margin-bottom: 10px;
		}

	}
}

@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */

{
	.largeMenuTop
	{
		display: none;
	}

	.smallMenuTop
	{
		background-color: #9bc23e;
		width: 100%;
		height: auto;
		margin : 0 0;
		text-align: left;
		a
		{
			color: white !important;
			text-decoration: none;
			font-size: 4vmin;
			font-size: 3vmin;
		}

		.navbar a
		{
			font-weight: bold;
			text-decoration: none;
		}

		.homeicon i
		{
			font-size: 4vmin;
			margin-right: 15px;
		}

		.mailicon i
		{
			font-size: 4vmin;
			margin-right: 15px;
		}

		.facebookLogo
		{
			font-size: 4vmin;
			color: white;
			text-decoration: none;
			margin-right: 15px;
		}

		.logoOhMyLot
		{
			width: 4vmin;
			height: 4vmin;
			margin-bottom: 10px;
			margin-right: 10px;
		}

	}
}