
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@media screen and (min-width: 900px) /*define here the style for large screens (>900px) */
{
	@keyframes fadeIn
	{
		from
		{
			opacity: 0;
		}

		to
		{
			opacity: 1;
		}

	}

	.fade-in
	{
		animation: fadeIn 0.8s ease-in;
	}

	.singleOffertContainer
	{
		font-family: 'Open Sans', sans-serif;
		color: white;
		cursor: pointer;
		padding: 0px 20px;
		margin: 10px 15px;
		text-transform: uppercase;
		position: relative;
		font-size: 11px;
		border: 3px solid #cfcece;
		background-color: #9bc23e;
		border-radius: 15px 15px 15px 15px;
		-webkit-transition: all 1s;
		transition: all 1s;
		width: 40rem;
		height: 9rem;
		p
		{
			font-size: 15px;
		}

		.offertNumber
		{
			position: absolute;
			font-size: 0.75em;
			font-family: "Nanum Gothic", "Verdana", sans-serif;
			top: 5px;
			right: 5px;
			background-color: #6c9724;
			color: #fff;
			padding: 0.5em 0.75em;
			box-shadow: 0 0 3px #222;
		}
	}

	.singleOffertContainer:hover,  .singleOffertContainer.hover
	{
		border-color: #6c9724;
	}

	.load-more
	{
		margin: 1em auto;
		color: white;
		cursor: pointer;
		margin-bottom: 20px;
	}

	/* Single offre style */
	.dataContainer
	{
		width: auto;
		.Offre
		{
			display: block;
			float: left;
			h1
			{
				font-size: 25px;
				margin: 0 0 10px 0;
			}

			p
			{
				font-size: 15px;
			}

		}

		.offertContainer
		{
			text-align: left;
			padding: 8px;
		}

		.Titre
		{
			font-size: 18px;
		}

		.Infos
		{
			margin-left: 20px;
			font-size: 15px;
		}

	}
}

@media screen and (max-width: 900px) /* Here we will define the css for smaller screens (<900px) */
{
	@keyframes fadeIn
	{
		from
		{
			opacity: 0;
		}

		to
		{
			opacity: 1;
		}
	}

	.fade-in
	{
		animation: fadeIn 0.8s ease-in;
	}

	.singleOffertContainer
	{
		font-family: 'Open Sans', sans-serif;
		color: white;
		cursor: pointer;
		padding: 0px 20px;
		margin: 10px auto auto auto;
		text-transform: uppercase;
		position: relative;
		font-size: 11px;
		border: 3px solid #cfcece;
		background-color: #9bc23e;
		border-radius: 15px 15px 15px 15px;
		-webkit-transition: all 1s;
		transition: all 1s;
		width: 100%;
		max-width: 60rem;
		min-width: 20rem;
		p
		{
			font-size: 15px;
		}

		.offertNumber
		{
			position: absolute;
			font-size: 0.75em;
			font-family: "Nanum Gothic", "Verdana", sans-serif;
			top: 5px;
			right: 5px;
			background-color: #6c9724;
			color: #fff;
			padding: 0.5em 0.75em;
			box-shadow: 0 0 3px #222;
		}

	}

	.singleOffertContainer:hover,  .singleOffertContainer.hover
	{
		border-color: #6c9724;
	}

	.load-more
	{
		margin: 1em auto;
		color: white;
		cursor: pointer;
		margin-bottom: 20px;
	}

	/* Single offre style */
	.dataContainer
	{
		width: auto;
		.Offre
		{
			display: block;
			float: left;
			h1
			{
				font-size: 25px;
				margin: 0 0 10px 0;
			}

			p
			{
				font-size: 15px;
			}

		}

		.offertContainer
		{
			text-align: left;
			padding: 8px;
		}

		.Titre
		{
			font-size: 18px;
		}

		.Infos
		{
			margin-left: 20px;
			font-size: 15px;
		}

	}
}